// 使用var定义一个json开头 将所有的过滤器写在unit中
var unit = {
  // 定义一个函数作为过滤器 参数text为传来的原始值
  sudentState: function(type) {
    switch(type){
      case 1:
        return "在读";
        case 2:
        return "未分班";
        case 3:
          return "已转班";
          case 4:
            return "离班";
            case 5:
              return "已结课";
              case 6:
                return "停课";
                case 7:
                  return "已退学";
                  default :
                  return "已转科"
    }
  },
    // 将学科装换成 英语/语文
    subjectName : function subject(params) {
      var arr= [] 
      params.forEach(function(item){
          arr.push(item.name)
      })
      //var reg = new RegExp(",","g"); 
      console.log(arr.toString().replace(",","/"));
      return  arr.toString().replace(",","/");
    },

   
}
module.exports = unit

// 导出过滤器 这段代码必写
// module.exports = {
//   // 格式为 导出的名字: json名字.函数名字 
//   sudentState: unit.sudentState
// }